@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Kdam+Thmor+Pro&family=Lobster&display=swap");

//Colors
$primary-color: black;
$secondary-color: #aa3355;
$tertiary-color: #1e46ac;
$background-color: rgba(
  $color: aliceblue,
  $alpha: 0.8,
);

//fonts
$primary-font: "Comfortaa", cursive;
$plate-font: "Kdam Thmor Pro", sans-serif;
$results-font: "Lobster", cursive;
